@import "./variables.scss";

.app-container {
    width: 100%;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        background-color: blueviolet;
    }
}

.search {
    display: flex;

    .search-icon {
        width: 30px;
        height: 30px;
    }
}
